<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
 	<string>Krunch</string>
	<key>CFBundleExecutable</key>
	<string>Krunch</string>
	<key>CFBundleIconFile</key>
	<string>Krunch.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.kenekt.pkg.Krunch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Krunch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Kenekt Digital. All rights reserved.</string>
</dict>
</plist>
